	<nav class =" bg-black p-5 "  >
	<div  >
			<ul class="flex" >
				<li >
							<a class =" text-white hover:text-red-500 transition-colors duration-300 text-2xl pt-5 m-5"   href="{{ path('app_index') }}">Home</a>
						</li>
						<li >
							<a class =" text-white hover:text-red-500 transition-colors duration-300 text-2xl pt-5 m-5"  href="{{ path('categories_list') }} ">Category</a>
						</li>
						
						<li >
							<a class =" text-white hover:text-red-500 transition-colors duration-300 text-2xl pt-5 m-5"  href="{{ path('app_article') }} ">Add Article</a>
						</li>
						<li >
							<a class =" text-white hover:text-red-500 transition-colors duration-300 text-2xl pt-5 m-5"  href="{{ path('newsletter_subscribe') }} ">Subscribe</a>
						</li>
						<li >
							<a class =" text-white hover:text-red-500 transition-colors duration-300 text-2xl pt-5 m-5"  href="{{ path('admin') }} ">Se Connecter</a>
						</li>
						<li >
							<a class =" text-white hover:text-red-500 transition-colors duration-300 text-2xl pt-5 m-5"  href="{{ path('app_about') }} ">About</a>
						</li>
					</ul>
				</div>
			</nav>
			
			


			